<div>
  <div class="ui input" >
    <form 
    
     class="ui form">
    <div class="field">

      <input type="text" placeholder="Enter youyr Todos here" name ="todo"#todo [(ngModel)]="todoInput" />
     
      <button type="submit" class="ui primary button" (click)="addTodoInput()" >Add Todo</button>
    </div>
    </form>
  </div>
  <div *ngIf= "todoList"  class="ui list">
    <ul>
       <div class="item" *ngFor = "let todo of todoList ; let i = index" id="{{i}}">{{todo.item}} <button (click)="deleteTodo(todo.item)" class="liButton"><i class="trash icon" ></i></button> </div> 
    </ul>
  </div>
</div>
